#
# Travis CI recipe to build, test and push docker images to the Docker Hub.
#

language: generic

os:
  - linux

services:
  - docker

git:
  submodules: false

jobs:
  include:
  - stage: Alpine Container
    script:
      - git submodule update --init --remote
      - |
        tools/build/build_container.sh \
        -e versions/alpine-3.10.env \
        -e versions/docker-toonamiaftermath.env \
        -b true \
        -p true

  - stage: Git Tag & Docker Hub README
    script: 
      - git submodule update --init --remote
      - |
        tools/build/build_container.sh \
        -e versions/docker-toonamiaftermath.env \
        -g true \
        -r true

