#
# Travis CI recipe to build, test and push docker images to the Docker Hub.
#

language: generic

os:
  - linux

services:
  - docker

git:
  submodules: false

env:
  global:
  - DOCKER_REPO=christopher102994
  - DOCKER_NAME=docker-toonamiaftermath

jobs:
  include:
  - stage: Alpine Container
    script:
      - git submodule update --init --recursive
      - source tools/scripts/load_env_files.sh versions/alpine-3.10.env
      - source tools/scripts/versioning.sh 
      - tools/scripts/make_container.sh
    deploy:
        provider: script
        script: tools/scripts/push_to_registry.sh

  - stage: Git Tag
    script: 
      - git submodule update --init --recursive
      - source tools/scripts/versioning.sh
      - tools/scripts/push_git_tag.sh

